{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <h1>Movie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Release</th>
                <th>cat-count</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.name }}</td>
                <td>{{ movie.release ? movie.release|date('Y-m-d') : '' }}</td>
                <td>{{ movie.catCount }}</td>
                <td>
                    <a href="{{ path('app_movie_show', {'id': movie.id}) }}">show</a>
                    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>
                    <a href="{{ path('app_movie_quotes', {'id': movie.id}) }}">show quotes</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movie_new') }}">Create new</a>
    <a href="{{ path('app_login') }}">Login</a>
    <a href=" {{ path('app_quote_index') }}">Switch to Quotes</a>

{% endblock %}
